@font-face {
	font-family:"gemeli";
	src: url(../fonts/gemeli-light-trial.otf);
}

@font-face {
	font-family:"poppins";
	src: url(../fonts/poppins-semibold.ttf);
}



body {
	background-color: rgba(0,0,20,.3);
	font-family: "gemeli";
	font-weight: 300;
}

main {
	background-color: black;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
}

h1, h2, h3 {
	font-family: "poppins";
	font-weight: 600;
		text-transform: uppercase;
	letter-spacing: -1.3px;

}

header {
	font-size: 30px;
	color: white;
	margin-bottom: -20px;
	margin-top: -7px;
}
span {
	color: rgba(42, 125, 28, 1);
}
p{
font-size: 14px;
text-align: justify;

}

header {
	text-align: center;
}

main {
	display: flex;
justify-content: space-between;}

main section {
	background-color: white;
	


} 

.one {
	width: 32%;
	text-align: justify;
	border: solid 4px rgba(42, 125, 28, 1);


}



figcaption {
	font-size: 11px;
margin-left: 10px;
margin-right: 10px;


}

.two {
	width: 32%;
	align-items: center;
		border: solid 4px rgba(42, 125, 28, .8);

}

.line {
	height: 2px;
	width: 50%;
	margin-left: 25%;
	background-color: rgba(0,0,0,1);
justify-content: center;
margin-top: 30px;
margin-bottom: 30px;
}

.break {
	height: 1px;
	width: 33%;
}

.three {
	width: 32%;
	text-align: left;
		border: solid 4px rgba(42, 125, 28, .6);

}
.most {
	font-size: 11px;
	text-align: center;
	margin-top: -25px;
	margin-bottom: 20px;
}
.please {
font-size: 24px;
font-weight: lighter;
width: 100%;
text-align: left;
word-spacing: -2px;
margin-top: 50px;
margin-left: 20px;
}



.four {
width: 100%;
background-color: rgba(255,255,255,1);

}

h2 {
	text-align: center;
}

p, h2, ul, h3 {
	padding-left: 20px;
	padding-right: 20px;
}

img {
	max-width: 100%;
	margin-bottom: 10px;
border-color: rgba(0,0,20,.6);


}
figure {
width: 100%;
margin-left: auto;
margin-right: auto;

}

ul {
	list-style-type: none;
	text-align: left;
}

li {
	margin-bottom: 10px;
	font-size: 14px;
}

@media only screen and (max-width: 550px) {

main {

	flex-flow: column;
		justify-content: center;



}

.one {
	width: 100%;


}

.two {
	width: 100%;
}

.three {
	width: 100%;
}





} /*end media block*/

@media only screen and (max-width: 800px){


p {
	text-align: center;
}




}